.header{
    padding: 30px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__ul{
    display: none;
}

.header__logo{
    width: 70px;
    height: 70px;
}

.header__bar{
    height: 2em;
}

/*xs*/
/* @media (min-width: 475px) {} */
/*sm*/
/* @media (min-width: 640px) {} */
/*md*/
@media (min-width: 768px) {
    .header{
        padding: 30px 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .header__logo{
        width: 90px;
        height: 90px;
    }
    
    .header__ul{
        list-style: none;
        display: flex;
        align-items: center;
        gap: 4em;
    }
    
    .header__links{
        font-size: calc(1rem + 10%);
        color: var(--clr-black);
        text-decoration: none;
        transition: color 0.3s;
    }
    
    .header__links:hover{
        color: var(--clr-purple);
    }

    .header__bar{
        display: none;
    }
}
/*lg*/
/* @media (min-width: 1024px) {} */
/*xl*/
@media (min-width: 1280px) {

}
/*2xl*/
/* @media (min-width: 1536px) {} */